{% extends "base.html" %}

{% block head_title %}Humming{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Humming" />
  <meta name="twitter:title" content="Humming" />

  <meta name="description" content="Social media where creators get paid. Follow your favorite creators and support them directly: subscriptions, tips, and unlockable posts settle instantly on-chain." />
  <meta name="og:description" content="Social media where creators get paid. Follow your favorite creators and support them directly: subscriptions, tips, and unlockable posts settle instantly on-chain." />
  <meta name="twitter:description" content="Social media where creators get paid. Follow your favorite creators and support them directly: subscriptions, tips, and unlockable posts settle instantly on-chain." />

  <meta property="og:url" content="https://humming.social" />
  <meta name="twitter:url" content="https://humming.social" />
  <link rel="canonical" href="https://humming.social" />

  <meta property="og:image" content="https://humming.social/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="https://humming.social/static/social-card-default-gradient.png"  />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
